# Ignore raw data dumps
db/raw-dumps/*.sql
db/raw-dumps/*.csv
db/raw-dumps/*.tar.gz

# Python
__pycache__/
.venv/
*.pyc

# Go
backend/bin/
backend/*.exe

# Node/React
frontend/node_modules/
frontend/dist/
frontend/build/

# Env vars
.env

# macOS
.DS_Store
**/.DS_Store